<template>
    <div>
        <div v-if="isCheck">
            <!-- Multiple checkbox -->
            <div v-for="option in optionsList" :key="option[reduceKey]" class="custom-control custom-checkbox">
                <input
                    :ref="refSelectCheck"
                    type="checkbox"
                    :id="option[reduceLabel]+option[reduceKey]" :class="cssClass"
                    :value="option[reduceKey]" v-model="value[nameField]"
                    :name="nameField" :required="isRequired">
                <label class="custom-control-label" :for="option[reduceLabel]+option[reduceKey]">{{ _getLabelText(option) }}</label>
            </div>
        </div>
        <!-- Selector de opciones -->
        <select
        @change="selectChange" v-else :class="cssClass" :ref="refSelectCheck" v-model="value[nameField]" :multiple="isMultiple" :name="nameField" :required="isRequired">
            <option v-for="option in optionsList" :key="option[reduceKey]" :value="option[reduceKey]" :precio="option.precio ? option.precio.precio : ''">{{  _getLabelText(option)  }}</option>
        </select>
    </div>
</template>

<script lang="ts">

    import { Component, Prop, Watch, Vue } from "vue-property-decorator";

    import axios from "axios";
    // import axios from "../../axios-helper";

    /**
     * Componente de campo selector
     *
     * @version 1.0.0
     */
    @Component
    export default class SelectCheckCrudFieldComponent extends Vue {

        /**
         * Clase css
         */
        @Prop({ type: String})
        public cssClass: string;

        /**
         * Valida si el campo es un checkbox
         */
        @Prop({ type: Boolean, default: false})
        public isCheck: boolean;

        /**
         * Valida si el campo es requerido
         */
        @Prop({ type: Boolean, default: false})
        public isRequired: boolean;

        /**
         * Valida si el campo es multiple
         */
        @Prop({ type: Boolean, default: false})
        public isMultiple: boolean;

        /**
         * Nombre del campo
         */
        @Prop({ type: String, required: true })
        public nameField: string;

        /**
         * Nombre de la entidad a obtener
         */
        @Prop({ type: String, required: true })
        public nameResource: string;

        /**
         * Lista de opciones
         */
        public optionsList: Array<any>;

        /**
         * Valor de llave de reduccion
         */
        @Prop({ type: String, default: 'id'})
        public reduceKey: string;

        /**
         * Nombre de valor visualizacion
         */
        // @Prop({ type: String, default: 'name'})
        // public reduceLabel: string;
        @Prop({required: true})
        public reduceLabel: any;

        /**
         * Valor del campo
         */
        @Prop({type: Object})
        public value: any;

        /**
         * Funcion del change
         */
        @Prop({ type: Function, default: (any) => {} })
        public functionChange: (any) => {};

        /**
         * Permite obtener la referencia del select o del checkbox
         */
        @Prop({ type: String})
        public refSelectCheck: String;

        /**
         * Valor de llave de reduccion
         */
        @Prop({ type: String, default: ''})
        public idToEmpty: string;

        /**
         * Constructor de la clase
         *
         * @version 1.0.0
         */
        constructor() {
            super();

            this.optionsList = [];
            // Valida si se habilita el componente para multiples checkbox
            if (this.isCheck) {
                // Valida si tiene elementos asignados
                if (this.value[this.nameField]) {
                    // Filtra los datos de seleccion para evidenciar el checkbox seleccionado
                    const valueSelected: number | string = this.value[this.nameField].map((value) => value[this.reduceKey]);
                    // Asigna los datos seleccionados
                    this.value[this.nameField] = valueSelected;
                } else {
                    // Se inicializa para aceptar multiples checkbox
                    this.value[this.nameField] = [];
                }
            }

        }

        /**
         * Se ejecuta cuando el componente ha sido momntado
         */
        mounted() {
            // Carga la lista de elementos
            this._getDataOptions();
        }

        /**
         * Devuelve el valor cambiado a una funcion anonima (Callback)
         * y asigna vacio a la variable recibida por parámetro
         *
         * @author German Gonzalez V. - Feb. 10 - 2021
         * @version 1.0.0
         */
        public selectChange(event): void {
            this.value[this.idToEmpty] = '';
            if (event) {
                if (this.functionChange) {
                    this.functionChange(event.target.value);
                }
            }
        }

        /**
         * Obtiene la lista de opciones
         *
         * @version 1.0.0
         */
        private _getDataOptions(): void {
            // Envia peticion de obtener todos los datos del recurso
            axios.get(this.nameResource, {
                params: {
                    local_id: 1
                }
            })
            .then((res) => {
                // Llena la lista de datos
                this.optionsList = res.data.data;
            })
            .catch((err) => {
                console.log('Error al obtener la lista.');
            });
        }

        /**
         * Obtiene el texto del label a mostar en
         * la opcion de la lista de filtrado
         *
         * @author Erika Johana Gonzalez Cuartas. - Sep. 01 - 2020
         * @version 1.0.0
         */
        private _getLabelText(dataSearch: any): string {
            // Texto de visualizacion
            let labelText: string = '';
            if (typeof this.reduceLabel != 'string') {
                
                // Recorre la lista de nombres de objeto a mostrar
                this.reduceLabel.forEach((name: string) => {

                    // Valor  mostrar
                    let dataShow: string = '';                

                    const nameSplit = name.split('.');
                    // Valida si se debe obtener el valor de un objeto
                    if (nameSplit.length > 1) {
                        // Obtiene el valor del objeto con la notacion punto(dot)
                        dataShow = this._getDataFromObjectDot(nameSplit, dataSearch, 0);
                    } else {
                        dataShow = dataSearch[name];
                    }

                    // Valida si el string ya tiene texto
                    if (labelText.length > 0) {
                        labelText += ' - ' + dataShow;
                    } else {
                        labelText += dataShow;
                    }
                });
            } else {
                labelText = dataSearch[this.reduceLabel];
            }
            return labelText;
        }

        /**
         * Obtiene el valor final de un objeto
         * 
         * @author Erika Johana Gonzalez Cuartas. - Sep. 01 - 2020
         * @version 1.0.0
         * 
         * @param listDataObj Lista de datos a recorrer
         * @param object objeto de donde se obtiene el valor final
         * @param indx index incremental de la lista de objetos
         */
        private _getDataFromObjectDot(listDataObj: Array<any>, object: any, indx: number): any {
            
           // Caso de parada, valida si se debe retonrar el ultimo elemento de la lista
            if ((listDataObj.length - 1) === indx) {
                return object[listDataObj[indx]];
            }
            // Retorna valor obtenido de la lista de datos
            return this._getDataFromObjectDot(listDataObj, object[listDataObj[indx]], ++indx);
        }
    }

</script>
